src/lib/ctf-25/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  CTF 25 — Common Transfer File version 25
  DfE / STA — Education (Pupil Information) (England) Regulations 2005
  Reference schema for Wren validation. Derived from the DfE published CTF 25 specification.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- ══════════════════════ ROOT ══════════════════════ -->
  <xs:element name="CTfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header"  type="HeaderType"/>
        <xs:element name="Pupils"  type="PupilsType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="CTFversion" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- ══════════════════════ HEADER ══════════════════════ -->
  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element name="DocumentName"       type="xs:string"/>
      <xs:element name="CTFversion"         type="xs:string"/>
      <xs:element name="DateTime"           type="xs:dateTime"/>
      <xs:element name="DocumentQualifier"  type="DocumentQualifierType"/>
      <xs:element name="SupplierID"         type="xs:string"        minOccurs="0"/>
      <xs:element name="SourceSchool"       type="SchoolHeaderType"/>
      <xs:element name="DestSchool"         type="SchoolHeaderType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DocumentQualifierType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="partial"/>
      <xs:enumeration value="full"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="SchoolHeaderType">
    <xs:sequence>
      <xs:element name="LEA"          type="xs:string"/>
      <xs:element name="Estab"        type="xs:string"/>
      <xs:element name="SchoolName"   type="xs:string"/>
      <xs:element name="AcademicYear" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ══════════════════════ PUPILS ══════════════════════ -->
  <xs:complexType name="PupilsType">
    <xs:sequence>
      <xs:element name="Pupil" type="PupilType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PupilType">
    <xs:all>
      <xs:element name="UPN"               type="UPNType"/>
      <xs:element name="ULN"               type="xs:string"        minOccurs="0"/>
      <xs:element name="Surname"           type="xs:string"/>
      <xs:element name="Forename"          type="xs:string"/>
      <xs:element name="MiddleNames"       type="xs:string"        minOccurs="0"/>
      <xs:element name="PreferredSurname"  type="xs:string"        minOccurs="0"/>
      <xs:element name="PreferredForename" type="xs:string"        minOccurs="0"/>
      <xs:element name="DOB"               type="xs:date"/>
      <xs:element name="Gender"            type="GenderType"/>
      <xs:element name="NCyearActual"      type="NCYearType"       minOccurs="0"/>
      <xs:element name="QCAttainment"      type="xs:string"        minOccurs="0"/>
      <xs:element name="Ethnicity"         type="xs:string"        minOccurs="0"/>
      <xs:element name="EthnicitySource"   type="EthnicitySourceType" minOccurs="0"/>
      <xs:element name="Languages"         type="LanguagesType"    minOccurs="0"/>
      <xs:element name="Nationality"       type="xs:string"        minOccurs="0"/>
      <xs:element name="CountryofBirth"    type="xs:string"        minOccurs="0"/>
      <xs:element name="InCare"            type="YNType"           minOccurs="0"/>
      <xs:element name="ServiceChild"      type="YNType"           minOccurs="0"/>
      <xs:element name="SENstatus"         type="SENstatusType"    minOccurs="0"/>
      <xs:element name="SENprovision"      type="SENprovisionType" minOccurs="0"/>
      <xs:element name="SENhistory"        type="SENhistoryType"   minOccurs="0"/>
      <xs:element name="FSMhistory"        type="FSMhistoryType"   minOccurs="0"/>
      <xs:element name="Contacts"          type="ContactsType"     minOccurs="0"/>
      <xs:element name="Attendance"        type="AttendanceType"   minOccurs="0"/>
      <xs:element name="AssessmentResults" type="AssessmentResultsType" minOccurs="0"/>
      <xs:element name="SchoolHistory"     type="SchoolHistoryType" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <!-- ══════════════════════ SIMPLE TYPES ══════════════════════ -->
  <xs:simpleType name="UPNType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z][0-9]{12}|TEMP[0-9A-Z]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GenderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M"/>
      <xs:enumeration value="F"/>
      <xs:enumeration value="U"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="YNType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y"/>
      <xs:enumeration value="N"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SENstatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N"/>
      <xs:enumeration value="S"/>
      <xs:enumeration value="E"/>
      <xs:enumeration value="K"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NCYearType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="R"/>
      <xs:enumeration value="1"/>  <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>  <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>  <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>  <xs:enumeration value="8"/>
      <xs:enumeration value="9"/>  <xs:enumeration value="10"/>
      <xs:enumeration value="11"/> <xs:enumeration value="12"/>
      <xs:enumeration value="13"/> <xs:enumeration value="N"/>
      <xs:enumeration value="X"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EthnicitySourceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="P"/>
      <xs:enumeration value="C"/>
      <xs:enumeration value="T"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ══════════════════════ LANGUAGES ══════════════════════ -->
  <xs:complexType name="LanguagesType">
    <xs:sequence>
      <xs:element name="LanguageType" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LanguageTy"   type="xs:string"/>
            <xs:element name="LanguageCode" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ══════════════════════ SEN ══════════════════════ -->
  <xs:complexType name="SENprovisionType">
    <xs:sequence>
      <xs:element name="SENprovisionInfo" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SENtype"     type="xs:string"/>
            <xs:element name="SENtypeRank" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SENhistoryType">
    <xs:sequence>
      <xs:element name="SENstage" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SENstageType"      type="xs:string"/>
            <xs:element name="SENstageStartDate" type="xs:date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ══════════════════════ FSM ══════════════════════ -->
  <xs:complexType name="FSMhistoryType">
    <xs:sequence>
      <xs:element name="FSMreview" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FSMstartDate" type="xs:date"/>
            <xs:element name="FSMendDate"   type="xs:date"   minOccurs="0"/>
            <xs:element name="FSMeligible"  type="xs:string"/>
            <xs:element name="FSMukborn"    type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ══════════════════════ CONTACTS ══════════════════════ -->
  <xs:complexType name="ContactsType">
    <xs:sequence>
      <xs:element name="ContactDetails" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Surname"               type="xs:string"/>
            <xs:element name="Forename"              type="xs:string"/>
            <xs:element name="MiddleNames"           type="xs:string"  minOccurs="0"/>
            <xs:element name="ParentalResponsibility" type="YNType"    minOccurs="0"/>
            <xs:element name="RelationshipCode"      type="xs:string"  minOccurs="0"/>
            <xs:element name="Order"                 type="xs:integer" minOccurs="0"/>
            <xs:element name="AddressDetails"        minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="AddressLine1" type="xs:string" minOccurs="0"/>
                  <xs:element name="AddressLine2" type="xs:string" minOccurs="0"/>
                  <xs:element name="Town"         type="xs:string" minOccurs="0"/>
                  <xs:element name="County"       type="xs:string" minOccurs="0"/>
                  <xs:element name="Postcode"     type="xs:string" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Phones" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PhoneNumber" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="PhoneType" type="xs:string"/>
                        <xs:element name="Number"    type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Email" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ══════════════════════ ATTENDANCE ══════════════════════ -->
  <xs:complexType name="AttendanceType">
    <xs:sequence>
      <xs:element name="AttendanceDetails" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Year"                  type="xs:integer"/>
            <xs:element name="StartDate"             type="xs:date"/>
            <xs:element name="EndDate"               type="xs:date"/>
            <xs:element name="SessionsAttended"      type="xs:integer"/>
            <xs:element name="SessionsAuthorised"    type="xs:integer"/>
            <xs:element name="SessionsUnauthorised"  type="xs:integer"/>
            <xs:element name="SessionsPossible"      type="xs:integer" minOccurs="0"/>
            <xs:element name="GrandTotalSessions"    type="xs:integer" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ══════════════════════ ASSESSMENT RESULTS ══════════════════════ -->
  <xs:complexType name="AssessmentResultsType">
    <xs:sequence>
      <xs:element name="Stage"  type="xs:string" minOccurs="0"/>
      <xs:element name="Result" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultStatus"    type="xs:string"/>
            <xs:element name="ResultQualifier" type="xs:string" minOccurs="0"/>
            <xs:element name="SubjectCode"     type="xs:string"/>
            <xs:element name="Method"          type="xs:string" minOccurs="0"/>
            <xs:element name="Season"          type="xs:string" minOccurs="0"/>
            <xs:element name="Year"            type="xs:integer" minOccurs="0"/>
            <xs:element name="ResultMark"      type="xs:string" minOccurs="0"/>
            <xs:element name="ResultGrade"     type="xs:string" minOccurs="0"/>
            <xs:element name="ResultType"      type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ══════════════════════ SCHOOL HISTORY ══════════════════════ -->
  <xs:complexType name="SchoolHistoryType">
    <xs:sequence>
      <xs:element name="School" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LEA"           type="xs:string" minOccurs="0"/>
            <xs:element name="Estab"         type="xs:string" minOccurs="0"/>
            <xs:element name="SchoolName"    type="xs:string" minOccurs="0"/>
            <xs:element name="EntryDate"     type="xs:date"   minOccurs="0"/>
            <xs:element name="LeavingDate"   type="xs:date"   minOccurs="0"/>
            <xs:element name="LeavingReason" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
